*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
	font-family:'HelveticaNeueCyr-Roman';
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #222222;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style:none;
}
.container{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.title{
    font-family: 'Kanit', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 40px;
}
.link{
    color: #DF7517;
    font-size: 25px;
    position: relative;
    line-height: 30px;
    text-transform: uppercase;
}
.link::after{
    content: "";
    position: absolute;
    background-image: url("../images/link-arrow.svg");
    width: 46px;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    height: 12px;
}
.input{
    font-size: 18px;
    line-height: 140%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family:'HelveticaNeueCyr-Roman';
    font-weight: 400;
}
.button{
    font-weight: 400;
    background: none;
    border:none;
    padding: 0;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}

.header-top{
    position: absolute;
    padding: 30px 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background: none;
    backdrop-filter: none;
}
.header-top.fixed{
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(60px);
    padding: 15px 0;
    animation: fixed__header .4s;
}
.header-top.fixed__off{
    animation: fixed__off .4s;
    position: absolute;
}
.header-top__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes fixed__off{
    0%{
        transform: translateY(0);
        position: fixed;
    }
    100%{
        position: absolute;
        transform: translateY(-100px);
    }
}
@keyframes fixed__header{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}
.header-top__logo{
    z-index: 1;
}
.header-top__logo img{
    display: block;
    width: 100%;
}
.header-top__menu{
    font-size: 20px;
    line-height: 24px;
}
.header-top__menu-list{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header-top.fixed .header-top__menu-list{
    color: #222;
}

.header-top__menu-item{
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}
.header-top__menu-item:hover{
    color: #FFB777;
}
.header-top__menu-item.active,
.current{
    color: #FFB777;
}
.header-top__menu-item.active::after,
.header-top__menu-item.current::after{
    transform: scale(1);
}
.header-top__menu-item::after{
    content: "";
    position: absolute;
    transition: .4s all;
    bottom: 0px;
    left: 0;
    transform: scale(0);
    width: 100%;
    height: 1px;
    background: #fff;
}
.header-top.fixed .header-top__menu-item::after{
    background: #FFB777;
}
.header-top__menu-item:hover::after{
    transform: scale(1);
}
.header-top__menu-item:last-child{
    margin-right: 0;
}

.header-top__menu-link{
    padding-bottom: 10px;
    display: inline-block;
    transition: .4s all;
}

.header-top__menu-dropdown{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border-radius: 30px;
    color: #fff;
    display: flex;
    transition: .7s all;
    top: 50px;
    left: -170px;
    background: rgba(102, 102, 102, 0.25);
    backdrop-filter: blur(65px);
    padding: 50px;
}
.header-top__menu-dropdown.mobile{
    display: none;
}
.header-top__menu-title{
    font-weight: 400;
    padding-left: 56px;
    margin-bottom: 30px;
    position: relative;
}
.header-top__menu-title::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    width: 46px;
    height: 12px;
    background-image: url("../images/header__dropdown-arrow.svg");
}
.header-top.fixed .header-top__menu-title::before{
    background-image: url("../images/header__dropdown-arrow--black.svg");
}
.header-top.fixed .header-top__menu-dropdown{
    color: #000!important;
    background: #fff;
    /* background: rgba(230, 230, 230, 0.6); */
    top: 80px;
}
.header-top__menu-dropdown--industries{
    padding: 30px;
    left: -200px;
}
.header-top__menu-dropdown.active{
    opacity: 1;
    pointer-events: auto;
}

.header-top__dropdown-list{
    font-size: 18px;
    line-height: 21px;
    width: 245px;
}
.header-top__menu-dropdown--industries .header-top__dropdown-list{
    width: 360px;
}

.header-dropdown__item-text{
    position: relative;
    cursor: pointer;
    transition: .2s all;
    padding-left: 36px;
}
.header-dropdown__item-text:hover{
    color: #E9862E;
}

.header-top__dropdown-item{
    margin-bottom: 24px;
    position: relative;
    display: flex;
    transition: .4s all;
}
.header-top__dropdown-item.active{
    color: #E9862E;
}
.header-dropdown__item-text::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-top__dropdown-item.offerings:nth-child(1) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-1.svg");
    width: 23px;
    height: 24px;
}
.header-top__dropdown-item.offerings:nth-child(2) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-2.svg");
    width: 20px;
    height: 22px;
}
.header-top__dropdown-item.offerings:nth-child(3) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-3.svg");
    width: 20px;
    height: 23px;
}
.header-top__dropdown-item.offerings:nth-child(4) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-4.svg");
    width: 22px;
    height: 17px;
}
.header-top__dropdown-item.offerings:nth-child(5) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-5.svg");
    width: 22px;
    height: 22px;
}
.header-top__dropdown-item.offerings:nth-child(6) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-6.svg");
    width: 22px;
    height: 22px;
}
.header-top__dropdown-item.offerings:nth-child(7) .header-dropdown__item-text::before{
    background-image: url("../images/offering__item-icon-7.svg");
    width: 22px;
    height: 22px;
}


.header-top__dropdown-item.industries:nth-child(1) .header-dropdown__item-text::before{
    background-image: url("../images/industries__item-icon-1.svg");
    width: 22px;
    height: 18px;
}
.header-top__dropdown-item.industries:nth-child(2) .header-dropdown__item-text::before{
    background-image: url("../images/industries__item-icon-2.svg");
    width: 24px;
    height: 24px;
}
.header-top__dropdown-item.industries:nth-child(3) .header-dropdown__item-text::before{
    background-image: url("../images/industries__item-icon-3.svg");
    width: 20px;
    height: 20px;
}
.header-top__dropdown-item.industries:nth-child(4) .header-dropdown__item-text::before{
    background-image: url("../images/industries__item-icon-4.svg");
    width: 20px;
    height: 20px;
}
.header-top__dropdown-item.industries:nth-child(5) .header-dropdown__item-text::before{
    background-image: url("../images/industries__item-icon-5.svg");
    width: 22px;
    height: 24px;
}

.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(1){
    animation-delay: .2s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(2){
    animation-delay: .3s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(3){
    animation-delay: .4s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(4){
    animation-delay: .5s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(5){
    animation-delay: .6s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(6){
    animation-delay: .6s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item:nth-child(7){
    animation-delay: .7s;
}
.header-top__menu-dropdown.active .header-top__dropdown-item{
    animation: show__item 1s;
    animation-fill-mode: both;
}
@keyframes show__item{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header-top__dropdown-item:last-child{
    margin-bottom: 0;
}


.header-top__menu-dropdown.active .header-dropdown__item-content{
    animation: show__item .5s;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.header-dropdown__item-inner{
    width: 240px;
    right: 0;
    font-size: 16px;
    display: none;
    transition: .4s all;
    margin-left: 70px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}
.header-dropdown__item-inner.active{
    display: block;
}
.header-top.fixed .header-dropdown__item-inner{
    color: #000!important;
}

.herader-dropdown__inner-item{
    margin-bottom: 20px;
    cursor: pointer;
}
.herader-dropdown__inner-item:last-child{
    margin-bottom: 0;
}
.header-top__burger{
    display: none;
    position: relative;
    width: 20px;
    transition: .4s all;
    height: 20px;
    align-items: center;
}
.header-top__burger-line{
    background: #fff;
    height: 2px;
    transition: .4s all;
    display: block;
    width: 100%;
    border-radius: 2px;
}
.header-top__burger::before,
.header-top__burger::after{
    content: "";
    position: absolute;
    left: 0;
    background: #fff;
    height: 2px;
    width: 100%;
    transition: .4s all;
    border-radius: 2px;
}
.header-top__burger::before{
    top: 3px;
}
.header-top__burger::after{
    bottom: 3px;
}
.header-top__burger.fixed::after{
    background: #df7517;
}
.header-top__burger.fixed::before{
    background: #df7517;
}


.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(238, 177, 112, 0.3), rgba(238, 177, 112, 0.3));
    left: 0;
    top: 0;
    z-index: 99;
    transition: .4s all;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    padding: 20px;
}
.popup-open{
    opacity: 1;
    visibility: visible;
}
.popup__close{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.contact__inner-button.stop::before,
.contact__inner-button.stop::after{
    animation-play-state: paused;
}
.popup__body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content{
    background: #FFFFFF;
    border-radius: 30px;
    padding: 50px;
    transform: scale(0.8);
    max-width: 620px;
    z-index: 2;
    width: 100%;
    transition: .4s all;
}
.popup-open .popup__content{
    transform: scale(1);
}
.popup__content-title{
    font-size: 32px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.popup__content-text{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
.popup__content-form{
    margin-top: 30px;
}
.popup__content-label{
    font-size: 13px;
    color: #C9C9C9;
    margin-bottom: 30px;
    line-height: 16px;
    display: block;
}
.popup__content-input{
    width: 100%;
    color: #222222;
    border-bottom: 1px solid #E2E2E2;
}
.popup__content-error{
    display: none;
    color: #df1d17;
    margin-top: 5px;
    font-size: 12px;
    line-height: 140%;
}
.popup__content-label.error .popup__content-input{
    border-bottom: 1px solid #DF1D17;
}
.popup__content-label.error .popup__content-error{
    display: block;
}
.popup__content-bottom{
    display: flex;
    padding-top: 10px;
    position: relative;
}
.popup__content-agreement{
    max-width: 300px;
}
.popup__content-button{
    right: 0;
}
.button__form{
    position: absolute;
}
.page__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page__block-img {
    margin-right: 20px;
    max-width: 580px;
    width: 100%;
}
.page__block-img img{ 
    width: 100%;
    display: block;
}
.page__block-info{
    width: 100%;
    max-width: 600px;
}
.page__block-text p{
    margin-bottom: 25px;
}
.career__block-text p:last-child{
    margin-bottom: 0;
}
.circle__button{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    width: 120px;
    height: 120px;
    display: flex;
    background: #DF7517;
    font-size: 25px;
    justify-content: center;
    padding: 0 13px;
    align-items: center;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #DF7517;
    border-radius: 50%;
    transition: .4s all;
}
.circle__button:hover{
    background: #fff;
    color: #DF7517;
}


.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
.header__wrapper{
    height: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.header__inner{
    color: #FFFFFF;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.header__inner-content{
    max-width: 615px;
    width: 100%;
    padding-top: 135px;
}
.header__inner-content--about_us{
    max-width: 730px;
}
.header__inner-title{
    font-size: 82px;
    line-height: 90%;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.header__inner-title--about_us{
    max-width: 730px;
}
.header__inner-title span{
    font-size: 143px;
    line-height: 135px;
}
.header__inner-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    max-width: 615px;
    width: 100%;
}
.header__inner-text--main{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 60px;
}
.header__inner-text span{
    color: #8E8E8E;
}
.header__inner-bottom{
    display: flex;
    max-width: 250px;
    justify-content: space-between;
}
.header__inner-line{
    width: 16%;
    height: 2px;
    background-color: #4D4D4D;
    position: relative;
}
.header__inner-line--active{
    width: 28%;
}
.header__inner-line--active .header__inner-filling{
    opacity: 1;
}
.header__inner-filling{
    background-color: #DF7517;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 60%;
}




.info__wrapper{
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}
.info__wrapper-title{
    font-size: 80px;
    max-width: 560px;
    width: 100%;
    margin-right: 20px;
    text-transform: uppercase;
}
.info__wrapper-text{
    max-width: 620px;
    width: 100%;
}
.info__wrapper-paragraph{
    margin-bottom: 20px;
}
.info__wrapper-paragraph:last-child{
    margin-bottom: 0;
}

.feature{
    background: #F8F8FB;
    padding-bottom: 170px; 
    padding: 150px 0;
}
.feature-inner{
    display: flex;
    justify-content: space-between;
}
.feature-inner__info{
    max-width: 592px;
    width: 100%;
    margin-right: 20px;
}
.feature-inner__info-title{
    font-size: 70px;
    text-transform: uppercase;
}
.feature-inner__info-title span{
    font-size: 80px
}
.feature-inner__info-paragraph{
    margin-bottom: 30px; 
}
.feature-inner__info-paragraph:last-child{
    margin-bottom: 0; 
}
.feature-inner__items{
    max-width: 620px;
    width: 100%;
}
.feature-inner__items-item{
    margin-bottom: 55px;
    width: 100%;
}
.feature-inner__items-item:last-child{
    margin-bottom: 0;
}
.feature-inner__item-top{
    display: flex;
    margin-bottom: 20px;
}
.feature-inner__items-img{
    margin-right: 32px;
}
.feature-inner__items-img img{
    width: 100%;
    display: block;
}
.feature-inner__items-title{
    font-size: 30px;
    line-height: 110%;
    margin-top: 15px;
    font-weight: 400;
}
.feature-inner__items-text{
    font-size: 20px;
    opacity: 0.7;
}



.video{
    width: 100%;
    min-height: 870px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}




.digitalnovelty__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 70px;
}
.digitalnovelty__wrapper-img{
    max-width: 580px;
}
.digitalnovelty__wrapper-img img{
    width: 100%;
    display: block;
}
.digitalnovelty__wrapper-info{
    max-width: 620px;
    width: 100%;
}
.digitalnovelty__wrapper-text span{
    color: #df7517;
}
.digitalnovelty__wrapper-text{
    margin-bottom: 60px;
}




.industrys{
    padding: 70px 0 0; 
}
.industrys__top-info{
    margin-bottom: 60px;
}
.industrys__top-text{
    max-width: 730px;
    width: 100%;
}
.industrys__top-text span{
    color: #DF7517;
}
.industrys__items-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 160px;
}
.industrys__item-img{
    display: none;
}
.industrys__item-content{
    max-width: 620px;
    width: 100%;
}
.industrys__item-suptitle{
    background: #FFFFFF;
    border-radius: 94px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000;
    padding: 7px 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.industrys__item-title{
    font-size: 56px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.industrys__item-text{
	font-family:'HelveticaNeueCyr-Medium';
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}




.offering{
    padding: 70px 0 150px;
}
.offering__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.offering-title{
    margin-bottom: 0;
}
.offering__slider-arrows{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.offering__slider-prev{
    margin-right: 32px;
}
.offering__slider-btn{
    cursor: pointer;
}
.offering__slider-prev img{
    width: 100%;
    display: block;
}
.offering__slider-next img{
    width: 100%;
    display: block;
}
.offering__slider-items{
    display: flex;
    justify-content: space-between;
}
.offering__slider-item{
    position: relative;
    width: 48%;
    cursor: pointer;
}
.offering__slider-item__more{
    right: 40px;
    top: 125px;
    opacity: 0;
    transition: .3s all;
    border: none;
    color: #000;
    position: absolute;
    transform: translateY(100px);
    background-color: #fff;
}
.offering__slider-item:hover .offering__slider-item__more{
    transform: translateY(0px);
    opacity: 1;
}
.offering__slider-item__more:hover{
    color: #000;
}
.offering__slider-item__img{
    margin-bottom: 15px;
    max-height: 277px;
    width: 100%;
    border-radius: 20px;
}
.offering__slider-item__img img{
    width: 100%;
    display: block;
}
.offering__slider-item__info{
    background: #F8F8FB;
    border-radius: 20px;
    padding: 30px;
}
.offering__slider-item-title{
    color: #2A3653;
    font-family: 'HelveticaNeueCyr-Medium';
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
}
.offering__slider-item__text{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



.contact{
    padding: 115px 0;
    overflow: hidden;
    background: #DF7517;
}
.contact__inner{
    max-width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__inner-info{
    max-width: 780px;
}
.contact__inner-title{
    margin-bottom: 30px;
    color: #fff;
}
.contact__inner-text{
    color: #fff;
}
.contact__inner-button{
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    color: #000;
}
.contact__inner-button:hover{
    color: #000;
}
.contact__inner-button::before,
.contact__inner-button::after{
    content: '';
    position: absolute;
    border: 1px solid #fff;
    height: 100%;
    width: 100%;
    transform: scale(0);
    border-radius: 50%;
    transition: .4s all;
    animation: pulse 2s linear infinite;
    animation-fill-mode: both;
}
.contact__inner-button::after{
    animation-delay: 1s;
}    
@keyframes pulse{
    0%{
     transform: scale(1);
     opacity: 1;
    }
    100%{
     transform: scale(2);
     opacity: 0;
    }
}



.footer{
    background: #222222;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding: 150px 0 175px;
}
.footer__inner-item{
    margin-right: 10px;
}
.footer__inner-item:last-child{
    margin-right: 0;
}
.footer__inner-item--first{
    max-width: 290px;
}
.footer__item-logo{
    margin-bottom: 28px;
    display: block;
    max-width: 120px;
}
.footer__item-logo img{
    display: block;
    width: 100%;
}
.footer__item-mail{
    font-size: 25px;  
    margin-bottom: 20px;
    line-height: 30px; 
    color: #DF7517;
    display: block;
}
.footer__item-phone{
    font-size: 25px;
    line-height: 30px;
    color: #DF7517;
    margin-bottom: 20px;
    display: block;
}
.footer__item-address{
    color: #D3D3D3;
    margin-bottom: 20px;
}
.footer__socnetwork-item{
    margin-bottom: 30px;
}
.footer__socnetwork-item:last-child{
    margin-bottom: 0;
}
.footer__socnetwork-link{
    position: relative;
}
.footer__socnetwork-link::after{
    content: "";
    background-image: url("../images/socnetwork-icon.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 24px;
    height: 24px;
}
.footer__inner-item--nav{
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    width: 100%;
}
.footer__item-list{
    min-width: 205px;
    max-width: 205px;
}
.footer__list-item{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.footer__list-item__inner{
    display: block;
    margin-top: 25px;
}
.footer__list-inner__item{
    margin-bottom: 25px;
}
.footer__list-item:last-child{
    margin-bottom: 0;
}
.footer__list-item--top{
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    position: relative;
    transition: .4s all;
    display: inline-block;
    padding-bottom: 0;
}
.footer__list-item--top::after{
    content: "";
    position: absolute;
    transition: .4s all;
    bottom: -10px;
    left: 0;
    transform: scale(0);
    width: 100%;
    height: 1px;
    background: #fff;
}
.footer__list-item--top:hover::after{
    transform: scale(1);
}
.footer__list-item--top:hover{
    color: #FFB777;
}
.footer__inner-form{
    max-width: 306px;
}
.footer__form-title{
    font-size: 25px;
    margin-bottom: 15px;
}
.footer__form-text{
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.footer__form-input{
    border-bottom: 1px solid #646464;
    color: #DF7517;
    width: 100%;
    margin-bottom: 20px;
}
.footer__form-input::placeholder{
    font-size: 18px;
    line-height: 140%;
    font-family:'HelveticaNeueCyr-Roman';
    font-weight: 400;
    color: #919191;
}
.footer__form-button{
    color: #DF7517;
    font-family:'HelveticaNeueCyr-Roman';
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}
.agreement__check-text{
    padding-left: 24px;
    font-size: 12px;
    line-height: 130%;
    position: relative;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.agreement__check-text a{
    color: #DF7517;
}
.agreement__check{
    width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	padding-left: 20px;
}
.agreement__check--style{
	width: 16px;
	height: 16px;
	border: 2px solid #DF7517;
	position: absolute;
    border-radius: 4px;
}
.agreement__check:checked + .agreement__check--style::before{
    content: "";
    background-image: url("../images/check-icon.svg");
	width: 11px;
	height: 9px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.agreement__check:checked + .agreement__check--style{
    background-color: #DF7517;
}
.footer__bottom{
    padding: 20px 0 25px;
    border-top: 1px solid rgba(100, 100, 100, 0.5);
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.4);
}
.footer__bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links-item:first-child{
    margin-right: 20px;
}













/*****************
    About us
******************/

.digital__future {
    padding: 140px 0 150px;
}
.digital__future-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #E9E9E9
}
.digital__future-top__title {
    max-width: 465px;
    width: 100%;
    margin-right: 20px;
    font-size: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.digital__future-top__content {
    max-width: 730px;
    width: 100%;
}
.digital__future-top__text {
    width: 100%;
    margin-bottom: 20px;
}
.digital__future-top__text span{
    color: #DF7517;
}
.digital__future-top__text:last-child{
    margin-bottom: 0;
}
.digital__future-content__top{
    margin-bottom: 50px;
}
.digital__future-content__top-item {
    margin-right: 30px;
    background: #F8F8FB;
    border-radius: 35px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    padding: 17px 30px;
    transition: .4s all;
}
.digital__future-content__top-item:hover{
    background: #F8D5B6
}
.digital__future-content__top-item.active{
    background: #DF7517;
    color: #fff;
}
.digital__future-content__top-item:last-child{
    margin-right: 0;
}
.digital__future-content__item {
    display: none;
    opacity: 0;
    transition: opacity .4s;
}
.digital__future-content__item.active{
    display: flex;
    opacity: 1;
    animation: show_block .2s linear forwards;
}
@keyframes show_block {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.digital__future-content__item-info{
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
}
.digital__future-content__item-title {
    font-size: 32px;
    margin-bottom: 20px;
}
.digital__future-content__item-text {
    font-size: 20px;
}
.digital__future-content__item-img {
    max-width: 620px;
    width: 100%;
}
.digital__future-content__item-img img{
    width: 100%;
    display: block;
}
.expertise {
    background: #F8F8FB;
    padding: 140px 0 205px;
}
.expertise__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
}
.expertise__items-item {
    background: #FFFFFF;
    border-radius: 20px;
    line-height: 28px;
    padding: 30px;
}
.expertise__item-title {
    color: #DF7517;
    font-size: 32px;
    margin-bottom: 17px;
}
.expertise__item-text {
    opacity: 0.6;
    font-size: 20px;
}








/*****************
    Join us
******************/
.career {
    padding: 150px 0;
}
.career__block-bottom {
    margin-top: 40px;
    background: #FFEED5;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    padding: 25px 30px;
    display: inline-block;
}
.vacancies {
    padding: 160px 0 150px;
    background: #F8F8FB;
}
.vacancies-title {
    margin-bottom: 30px;
}
.vacancies-text {
    max-width: 620px;
    width: 100%;
    margin-bottom: 40px;
}
.vacancies__wrapper-item {
    margin-bottom: 30px;
    position: relative;
}
.vacancies__wrapper-item:last-child{
    margin-bottom: 0;
}
.vacancies__item-all{
    position: absolute;
    bottom: -60px;
    right: 0;
    visibility: hidden;
    pointer-events: none;
}
.vacancies__wrapper-item:last-child .vacancies__item-all{
    visibility: visible;
    pointer-events: auto;
}
.vacancies__item-card {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px 50px;
    margin-bottom: 10px;
}
.vacancies__item-card__content{
    display: flex;
    justify-content: space-between;
}
.vacancies__card-left{
    margin-right: 15px;
}
.vacancies__card-title {
    font-size: 32px;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}
.vacancies__wrapper-item.important .vacancies__card-title::before {

    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -37px;
    width: 18px;
    background-image: url("../images/vacancies_fire-icon.svg");
    height: 22px;
}

.vacancies__card-list {
    font-size: 20px;
    margin-bottom: 30px;
}
.vacancies__card-list__item {
    padding-left: 34px;
    margin-bottom: 20px;
    position: relative;
}
.vacancies__card-list__item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}
.vacancies__card-list__item:nth-child(1)::before{
    background-image: url('../images/vacancies_list-icon-1.svg');
}
.vacancies__card-list__item:nth-child(2)::before{
    background-image: url('../images/vacancies_list-icon-2.svg');
}
.vacancies__card-list__item:last-child{
    margin-bottom: 0;
}
.vacancies__card-details {
    font-size: 25px;
    line-height: 30px;
    color: #DF7517;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 22px;
}
.vacancies__card-details::before{
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    border-bottom: 2px solid #DF7517;
    border-left: 2px solid #DF7517;
    transition: .4s all;
    width: 10px;
    height: 10px;
}
.vacancies__card-details.active::before{
    transform: translateY(-50%) rotate(135deg);
}
.vacancies__card-right {
    max-width: 570px;
    width: 100%;
    color: #000;
    font-size: 20px;
}
.vacancies__item-details {
    background: #FFFFFF;
    border-radius: 20px;
    display: none;
    padding: 50px;
    margin-bottom: 40px;
}
.vacancies__item-details.active{
    display: block;
}
.vacancies__details-top {
    display: flex;
    margin-bottom: 40px;
}
.vacancies__details-left {
    max-width: 550px;
    margin-right: 15px;
}
.vacancies__details-left__responsibilities {
    margin-bottom: 30px;
}
.vacancies__details-title {
    margin-bottom: 15px;
    font-size: 24px;
}
.vacancies__details-list {
    font-size: 18px;
}
.vacancies__details-item {
    position: relative;
    margin-bottom: 5px;
}
.vacancies__details-item:last-child{
    margin-bottom: 0;
}
.vacancies__details-item span{
    padding-right: 7px;
    color: #DF7517;
}

.vacancies__details-right {
    background: #FFEED4;
    border-radius: 20px;
    padding: 30px;
}
.vacancies__details-apply{
    background: none;
    border: none;
    cursor: pointer;
}
.popup__content-file {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.popup__file-button {
    font-family:'HelveticaNeueCyr-Roman';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #DF7517;
    margin-right: 20px;
    cursor: pointer;
    padding: 0;
    padding-left: 28px;
    background: none;
    outline: none;
    border: none;
    position: relative;
}
.popup__file-button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url("../images/popup-resume_file-icon.svg");
}
.popup__file-resume {
    border: 1px solid #F8D5B6;
    border-radius: 40px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    padding: 6px 12px 5px;
}
.popup__file-resume.show{
    opacity: 1;
    pointer-events: auto;
}
.popup__file-name {
    font-size: 18px;
    line-height: 21px;
    display: block;
    margin-right: 10px;
}
.popup__file-remove{
    display: block;
    width: 18px;
    cursor: pointer;
    height: 18px;
    position: relative;
}
.popup__file-remove::before,
.popup__file-remove::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    background: #DF7517;
    width: 10px;
    height: 1px;
    border-radius: 10px;
}
.popup__file-remove::before{
    transform: translate(-50%, -50%) rotate(45deg);
}
.popup__file-remove::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}






@media (max-width:1280px){
    .header__inner-title{
        font-size: 74px;
    }
    .header__inner-title span {
        font-size: 130px;
        line-height: 125px;
    }
    .header__inner-text--main{
        font-size: 28px;
        line-height: 34px;
    }
    .feature-inner__info-title{
        font-size: 55px;
    }
    .feature-inner__info-title span{
        font-size: 66px;
    }
    .digitalnovelty__wrapper-img{
        order: 1;
    }
    .digitalnovelty__wrapper-info{
        margin-right: 20px;
        max-width: 570px;
    }




    /*****************
        About us
    ******************/
    .digital__future-content__top-item{
        margin-right: 15px;
        border-radius: 35px;
        font-size: 20px;
        line-height: 26px;
    }
    .expertise__items{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
}



@media (max-width:991px){
    .header-top{
        padding: 20px 0;
    }
    .link{
        font-size: 22px;
        line-height: 26px;
    }
    .title{
        font-size: 55px;
    }

    .header-top__burger{
        display: flex;
    }
    .header-top__burger.active .header-top__burger-line{
        opacity: 0;
    }
    .header-top__burger.active::before{
        top: 9px;
        transform: rotate(45deg);
        background: #767676;
    }
    .header-top__burger.fixed .header-top__burger-line{
        background: #df7517;
    }
    .header-top__burger.active::after{
        bottom: 9px;
        transform: rotate(-45deg);
        background: #767676;
    }
    .header-top__burger.active.fixed::before,
    .header-top__burger.active.fixed::after{
        background: #9f9f9f;
    }
    .header-top__menu{
        position: absolute;
        width: 100%;
        left: 0;
        opacity: 0;
        top: 0;
        pointer-events: none;
        padding: 100px 20px 0px;
        transition: .4s all;
        background: #000;
        /* background: rgba(102, 102, 102, 0.25);
        backdrop-filter: blur(32.5px); */
        border-radius: 0;
    }
    .header-top__menu.show{
        opacity: 1;
    }
    .header-top.fixed .header-top__menu{
        opacity: 1;
        background: #fff;
        /* background: rgba(255, 255, 255, 0.41);
        backdrop-filter: blur(15px); */
        border-bottom: 1px solid #F5F5F5;
    }
    .header-top.fixed{
        background: none;
        backdrop-filter: none;
    }
    .header-top__menu.show{
        pointer-events: auto;
        padding: 100px 20px 30px;
        border-radius: 0px 0px 27px 27px;
    }
    .header-top__menu-list{
        display: block;
    }
    .header-top__menu-item{
        height: 0;
        margin-right: 0;
        opacity: 0;
        margin-bottom: 0px;
        transition: margin-bottom .6s,height .6s, opacity .6s;
    }
    .header-top__menu-item::after{
        display: none;
    }
    .header-top__menu-item.active{
        height: 22px;
    }
    .header-top__menu-item--inner::before{
        content: "";
        position: absolute;
        left: 105px;
        top: 60%;
        transform: translateY(-50%);
        width: 46px;
        height: 12px;
        background-image: url("../images/header__dropdown-arrow.svg");
    }
    .header-top.fixed .header-top__menu-item--inner::before{
        background-image: url("../images/header__dropdown-arrow--black.svg");
    }
    .header-top__menu.show .header-top__menu-item{
        height: 22px;
        opacity: 1;
        margin-bottom: 20px;
    }
    .header-top__menu.show .header-top__menu-item:last-child{
        margin-bottom: 0;
    }
    .header-top__menu-dropdown{
        display: none;
    }
    .header-top__menu-dropdown.mobile{
        pointer-events: auto;
        display: block;
        opacity: 1;
        position: fixed;
        border-radius: 0 0 27px 27px;
        color: #fff;
        top: 0px;
        left: 0px;
        width: 100%;
        transform: translateX(120%);
        padding: 100px 20px 30px;
        background: #000;
        /* background: rgba(102, 102, 102, 0.25);
        backdrop-filter: blur(32.5px); */
    }
    .header-top__menu-dropdown.mobile.offerings{
        height: 100%;
        overflow: auto;
    }
    .header-top.fixed .header-top__menu-dropdown{
        top: 0;
    }
    .header-top__menu-dropdown.mobile.active{
        transform: translateX(0%);
    }
    .header-top__dropdown-item{
        display: block;
    }
    .header-dropdown__item-inner{
        margin-left: 0;
        padding-left: 34px;
        width: 100%;
        display: block;
    }
    .header-dropdown__item-inner.active{
        margin-top: 22px;
    }
    .herader-dropdown__inner-item{
        height: 0;
        opacity: 0;
        margin-bottom: 0;
        transition: .4s all;
        pointer-events: none;
    }
    .header-dropdown__item-inner.active .herader-dropdown__inner-item{
        height: 20px;
        opacity: 1;
        pointer-events: auto;
        margin-bottom: 20px;
    }
    .header-top__dropdown-list{
        width: 100%;
    }
    .page__block{
        flex-direction: column;
        align-items: center;
    }
    .page__block-img{
        margin-right: 0;
        order: 1;
    }
    .page__block-info{
        margin-bottom: 40px;
    }




    .header__inner-content{
        padding-top: 120px;
    }
    .header__inner-title{
        font-size: 65px;
        line-height: 80%;
    }
    .header__inner-title span {
        font-size: 110px;
        line-height: 110px;
    }
    .header__inner-text--main {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 40px;
    }
    .info__wrapper{
        display: block;
        padding: 120px 0;
    }
    .info__wrapper-title{
        max-width: 100%;
        margin-right: 0;
        font-size: 75px;
    }
    .info__wrapper-text{
        max-width: 100%;
    }

    .feature{
        padding: 120px 0;
    }
    .feature-inner{
        display: block;
    }
    .feature-inner__info{
        margin-bottom: 40px;
        max-width: 100%;
    }
    .feature-inner__info-title span{
        font-size: 55px;
    }
    .feature-inner__items{
        max-width: 100%;
    }
    .feature-inner__items-title{
        margin-top: 0;
    }
    .info__wrapper-title{
        font-size: 55px;
    }
    .digitalnovelty__wrapper{
        flex-direction: column;
        padding-top: 130px;
        padding-bottom: 60px;
    }
    .digitalnovelty__wrapper-info{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .industrys{
        padding-top: 60px;
    }
    .offering{
        padding-bottom: 130px;
    }
    .offering__slider-item{
        width: 100%;
    }
    .offering__slider-item:last-child{
        display: none;
    }
    .offering__slider-item__img{
        max-height: none;
    }
    .offering__slider-arrows{
        margin-top: 0;
    }
    .contact__inner-title{
        margin-bottom: 10px;
    }
    .contact__inner-text{
        font-size: 18px;
    }
    .footer__inner{
        padding: 130px 0 120px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__inner-item--first{
        max-width: 480px;
        margin-bottom: 60px;
        text-align: center;
    }
    .footer__inner-item{
        margin-right: 0;
    }
    .footer__item-logo{
        margin: 0 auto 30px;
        max-width: 100px;
    }
    .footer__socnetwork-item{
        margin-bottom: 0;
    }
    .footer__item-socnetwork{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .footer__inner-item--nav{
        padding-bottom: 65px;
        position: relative;
    }
    .footer__inner-item--nav::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(100, 100, 100, 0.5);;
    }
    .footer__inner-form{
        margin-top: 45px;
        max-width: 480px;
    }
    .footer__form-title{
        font-size: 24px;
    }
    .footer__list-item__inner{
        display: none;
    }
    .footer__list-item--dropdown .footer__list-item--top::before{
        content: "";
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
        height: 6px;
        transition: .4s all;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .footer__list-item--dropdown.active .footer__list-item--top::before{
        transform: translateY(-50%) rotate(-135deg);
    }
    .footer__list-item--dropdown.active .footer__list-item__inner{
        display: block;
    }




    /*****************
        About us
    ******************/
    .digital__future{
        padding: 110px 0 120px;
    }
    .digital__future-top{
        flex-direction: column;
        align-items: center;
    }
    .digital__future-top__title{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .digital__future-top__title,
    .digital__future-top__content{
        max-width: none;
    }
    .digital__future-content__top{
        overflow-x: scroll;
    }
    .digital__future-content__mobile{
        width: 991px;
        padding-bottom: 10px;
    }
    .digital__future-content__item{
        flex-direction: column;
        align-items: center;
    }
    .digital__future-content__item-info{
        margin-bottom: 40px;
        margin-right: 0;
    }
    .digital__future-content__item-title{
        font-size: 32px;
    }
    .expertise{
        padding: 120px 0 180px;
    }
    .expertise__items{
        grid-gap: 20px;
    }
    .expertise__item-title{
        font-size: 32px;
    }




    /*****************
        Join us
    ******************/
    .career{
        padding: 120px 0;
    }
    .career__block-bottom{
        width: 100%;
    }
    .vacancies{
        padding: 130px 0 120px;
    }
    .vacancies__item-card__content{
        flex-wrap: wrap;
    }
    .vacancies__card-title{
        font-size: 32px;
    }
    .vacancies__details-title{
        font-size: 28px;
    }
    .vacancies__card-right{
        max-width: 100%;
    }
    .vacancies__card-left{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .vacancies__card-list{
        margin-bottom: 0;
    }
    .vacancies__card-right{
        margin-bottom: 20px;
    }
    .vacancies__details-top{
        flex-direction: column;
        align-items: center;
    }
    .vacancies__details-left{
        margin-right: 0;
        max-width: unset;
        margin-bottom: 20px;
    }
    .vacancies__details-left__responsibilities{
        margin-bottom: 20px;
    }
    .vacancies__details-bottom{
        text-align: center;
    }
    .vacancies__details-list{
        padding-left: 10px;
    }
}

@media (max-width:770px){
    .title{
        font-size: 47px;
    }
    .page__block-text{
        font-size: 20px;
    }


    .info__wrapper{
        padding: 100px 0;
    }
    .feature{
        padding: 100px 0;
    }
    .video{
        min-height: 770px;
    }
    .digitalnovelty__wrapper{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .industrys{
        padding-top: 50px;
    }
    .industrys__items-item{
        padding: 60px 0 80px;
    }
    .offering{
        padding-bottom: 100px;
    }
    .contact{
        padding: 100px 0;
    }
    .contact__inner{
        display: block;
    }
    .contact__inner-info{
        margin-bottom: 65px;
        text-align: center;
    }
    .contact__inner-title{
        margin-bottom: 20px;
    }
    .contact__inner-button{
        margin: 0 auto;
    }
    .footer__inner{
        padding: 100px 90px;
    }




    /*****************
        About us
    ******************/
    .digital__future {
        padding: 90px 0 100px;
    }
    .digital__future-content__top-item{
        font-size: 18px;
        line-height: 24px;
        padding: 15px 25px;
    }
    .digital__future-content__mobile{
        width: 850px;
    }
    .expertise{
        padding: 100px 0 150px;
    }
    .expertise__items {
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .expertise__item-title{
        font-size: 32px;
    }




    
    /*****************
        Join us
    ******************/
    .career{
        padding: 100px 0;
    }
    .career__block-title{
        margin-bottom: 25px;
    }
    .career__block-bottom{
        font-size: 23px;
    }
    .vacancies__card-title, 
    .vacancies__details-title{
        font-size: 32px;
    }
    .vacancies__details-title{
        font-size: 28px;
    }
    .vacancies__item-details,
    .vacancies__item-card{
        padding: 30px;
    }
    .vacancies{
        padding: 110px 0 100px;
    }
}


@media (max-width:575px){
    .link{
        font-size: 18px;
        line-height: 24px;
    }
    .title{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .container{
        padding: 0 20px;
    }
    .popup{
        padding: 20px 10px;
    }
    .popup__content{
        padding: 30px;
    }
    .popup__content-text{
        font-size: 16px;
        line-height: 135%;
    }
    .circle__button{
        width: 100px;
        height: 100px;
        font-size: 18px;
        padding: 0 15px;
    }
    .header__inner-title{
        font-size: 36px;
        line-height: 90%;
    }
    .header__inner-title--main{
        font-size: 45px;
    }
    .header__inner-title--main span{
        font-size: 76px;
        line-height: 82px;
    }
    .header__inner-text{
        font-size: 16px;
        line-height: 19px;
    }
    .header__inner-text--main{
        font-size: 20px;
        line-height: 24px;
    }
    .header__inner-bottom{
        max-width: 350px;
    }
    .header-top__logo{
        max-width: 50px;
    }
    .header__inner-content{
        padding-top: 20px;
    }
    .header-top__dropdown-list{
        font-size: 16px;
    }
    .header-top__menu{
        padding: 80px 20px 0px;
    }
    .page__block-text{
        font-size: 16px;
        line-height: 135%;
    }
    .page__block-text p{
        margin-bottom: 15px;
    }
    .page__block-info{
        margin-bottom: 30px;
    }


    
    .info__wrapper-title{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .info__wrapper-text{
        font-size: 16px;
        line-height: 135%;
    }
    .feature{
        padding: 80px 0;
    }
    .feature-inner__info-title{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .feature-inner__info-title span{
        font-size: 32px;
    }
    .feature-inner__info-text{
        font-size: 16px;
        line-height: 135%;
    }
    .feature-inner__info-paragraph{
        margin-bottom: 25px;
    }
    .feature-inner__items-title{
        font-size: 24px;
    }
    .feature-inner__items-text{
        font-size: 16px;
        line-height: 135%;
    }
    .digitalnovelty__wrapper{
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .digitalnovelty__wrapper-text{
        font-size: 16px;
        line-height: 145%;
        margin-bottom: 20px;
    }
    .industrys{
        padding-top: 40px;
    }
    .industrys__items-item{
        background-image: none!important;
    }
    .industrys__items-item{
        padding-top: 0;
        padding-bottom: 0;
    }
    .industrys__item-content{
        width: auto;
        margin: 0 -20px;
    }
    .industrys__item-img{
        display: block;
    }
    .industrys__item-img img{
        width: 100%;
        display: block;
    }
    .industrys__top-info{
        margin-bottom: 40px;
    }
    .industrys__item-info{
        background: #222222;
        padding: 40px 20px;
    }
    .industrys__top-text{
        font-size: 16px;
        line-height: 135%;
    }
    .industrys__item-suptitle{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .industrys__item-title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .industrys__item-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
        font-family:'HelveticaNeueCyr-Roman';
        font-weight: 400;
    }
    .offering{
        padding-bottom: 80px;
    }
    .offering-title{
        margin-bottom: 0;
    }
    .offering__top{
        margin-bottom: 30px;
    }
    .offering__slider-item-title{
        font-size: 24px;
    }
    .offering__slider-item__text{
        font-size: 16px;
        line-height: 135%;
        overflow: auto;
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }
    .offering__slider-item__more{
        opacity: 1;
        transform: translateY(0);
        width: 84px;
        height: 84px;
        right: 20px;
        top: 170px;
    }
    .contact{
        padding: 80px 0 100px;
    }
    .contact__inner-text{
        font-size: 16px;
        line-height: 135%;
    }
    .footer__inner{
        padding: 70px 0 50px;
    }
    .footer__inner-item--first,
    .footer__inner-item--nav,
    .footer__inner-form{
        max-width: 375px;
    }
    .footer__item-socnetwork{
        justify-content: center;
    }
    .footer__socnetwork-item{
        margin-right: 42px;
    }
    .footer__item-list{
        min-width: unset;
        max-width: unset;
        width: 46%;
    }
    .footer__form-title{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .footer__bottom{
        padding: 20px 0 30px;;
    }
    .footer__bottom-content{
        flex-direction: column;
    }
    .footer__bottom-links{
        margin-top: 15px;
    }
    .footer__list-item{
        margin-bottom: 20px;
    }
    .popup__content-button{
        font-size: 20px;
        width: 84px;
        height: 84px;
        bottom: -72px;
        right: -25px;
    }




    /*****************
        About us
    ******************/
    .digital__future {
        padding: 80px 0;
    }
    .digital__future-top{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .digital__future-top__text{
        font-size: 16px;
        line-height: 135%;
    }
    .digital__future-content__top{
        margin-bottom: 20px;
    }
    .digital__future-content__mobile{
        width: 740px;
    }
    .digital__future-content__top-item {
        font-size: 16px;
        line-height: 19px;
        padding: 9px 20px;
        margin-right: 10px;
    }
    .digital__future-content__item-title{
        font-size: 24px;
    }
    .digital__future-content__item-text{
        font-size: 16px;
        line-height: 135%;
    }
    .digital__future-content__item-info{
        margin-bottom: 20px;
    }
    .expertise {
        padding: 80px 0;
    }
    .expertise-title{
        margin-bottom: 40px;
    }
    .expertise__items{
        grid-gap: 10px;
    }
    .expertise__item-title{
        font-size: 24px;
        margin-bottom: 17px;
    }
    .expertise__item-text{
        font-size: 16px;
        line-height: 135%;
    }




    /*****************
        Join us
    ******************/
    .career{
        padding: 80px 0;
    }
    .career__block-bottom{
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
        padding: 20px;
    }
    .vacancies{
        padding: 80px 0 90px;
    }
    .vacancies-text{
        font-size: 16px;
        line-height: 135%;
    }
    .vacancies__card-title{
        font-size: 24px;
        line-height: 26px;
    }
    .vacancies__details-title{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .vacancies__card-list{
        line-height: 24px;
        font-size: 16px;
    }
    .vacancies__card-list__item{
        margin-bottom: 10px;
    }
    .vacancies__card-right{
        font-size: 16px;
        line-height: 22px;
    }
    .vacancies__card-details{
        font-size: 18px;
        line-height: 21px;
    }
    .vacancies__card-details::before{
        top: 40%;
        width: 8px;
        height: 8px;
    }
    .vacancies__details-list{
        font-size: 16px;
        line-height: 22px;
    }
    .vacancies__details-right{
        padding: 20px;
    }
    .vacancies__wrapper-item{
        margin-bottom: 20px;
    }
    .vacancies__details-apply{
        margin-right: 25px;
    }
    .popup__content-file{
        flex-direction: column;
    }
    .popup__file-button{
        font-size: 16px;
        line-height: 135%;
        margin-right: 0;
        margin: 0 auto 10px;
    }
    .popup__file-resume{
        text-align: center;
    }
    .popup__file-name{
        font-size: 16px;
        line-height: 21px;
    }
    .popup__content-file{
        margin-bottom: 15px;
    }
    
}
@media (max-width:414px) {
    .header__inner-title--main span{
        font-size: 65px;
        line-height: 72px;
    }
    .digitalnovelty__wrapper-link::after {
        display: none;
    }
}
